<%= javascript_pack_tag "people", "data-turbo-track": "reload" %>
<%= stylesheet_pack_tag "people", "data-turbo-track": "reload" %>

<div class="mb-4">
  <%= simple_form_for :person, local: true, method: :get do |f| %>
    <div class="form-group">
      <%= f.input :name %>
      <%= f.submit :submit, class: "float-right" %>
    </div>
  <% end %>
</div>

<div data-controller="people"
     data-people-digest-value="<%= @table_config.digest %>"
     data-people-url-value="<%= people_path %>"
>
  <table id="people-table">
    <thead id="people-table-header">
      <tr>
        <th tabulator-visible="<%= column_visible("name") %>">Name</th>
        <th tabulator-visible="<%= column_visible("cpf") %>">Cpf</th>
        <th tabulator-visible="<%= column_visible("birthdate") %>">Birthdate</th>
        <th tabulator-visible="<%= column_visible("birth_location") %>">Birth Location</th>
        <th tabulator-visible="<%= column_visible("email") %>">Email</th>
        <th tabulator-visible="<%= column_visible("country") %>">Country</th>
        <th tabulator-visible="<%= column_visible("address") %>">Address</th>
        <th tabulator-visible="<%= column_visible("district") %>">District</th>
        <th tabulator-visible="<%= column_visible("phone") %>">Phone</th>
        <th tabulator-visible="<%= column_visible("cellphone") %>">Cellphone</th>
        <th tabulator-visible="<%= column_visible("website") %>">Website</th>
      </tr>
    </thead>
    <tbody id="people-table-header">

    </tbody>
  </table>
</div>
